/* Center-align text and icons */
footer {
  text-align: center;
}

/* Styles for the entire footer */
footer {
  padding: 20px 0;
  background-color: #f8f8f8;
}

/* Social media section styles */
footer .d-none {
  display: none;
}

footer .me-5 {
  text-align: left;
}

footer .me-5 span {
  font-size: 1rem;
  margin-right: 10px;
}

footer .text-reset {
  color: #007BFF;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s;
}

footer .text-reset:hover {
  color: #0056b3;
}

/* Content section styles */
footer .container {
  text-align: left;
}

footer h6 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

footer p {
  font-size: 1rem;
  margin: 10px;
  text-align: center;
}
.footerterms a{
  text-decoration: none;
  padding: 1px;
  color: black;
}
/* Adjust padding and font sizes for smaller screens */
@media (max-width: 768px) {
  footer .me-5 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  footer .text-reset {
    font-size: 1.2rem;
  }

  footer .container {
    text-align: center;
  }

  footer h6 {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 1rem;
  }
}
