
.home-body{

    background-image: no-repeat;
    background-color: #dadada;
    text-align: center;
    font-style: oblique;
    -webkit-text-fill-color: rgba(1, 7, 1, 0.758);
    height: 100vh;
    margin-top: -19px;
    
}
