/* policy.css */

.policy-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 0%;
    background-color: #dadada;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
  
  .policy-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .policy-container h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .policy-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .policy-container ul {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 20px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .policy-container {
      padding: 15px;
    }
    
    .policy-container h1 {
      font-size: 24px;
    }
    
    .policy-container h2 {
      font-size: 22px;
    }
    
    .policy-container p {
      font-size: 14px;
    }
    
    .policy-container ul {
      font-size: 14px;
    }
  }
  